services:
  spacenav:
    build: .
    container_name: spacenav_ros2
    network_mode: host
    environment:
      # ROS 2 middleware
      ROS_VERSION: "2"
      ROS_DISTRO: "humble"
      RMW_IMPLEMENTATION: "rmw_fastrtps_cpp"

      # ROS 2 discovery & networking
      ROS_DOMAIN_ID: "0"
      FASTRTPS_DEFAULT_PROFILES_FILE: ""
      ROS_LOCALHOST_ONLY: "0"

    devices:
      # SpaceNavigator device access
      - /dev/input:/dev/input

    privileged: true

    command:
      - /bin/bash
      - -c
      - |
        spacenavd &
        sleep 1
        source /opt/ros/humble/setup.bash
        source /ros2_ws/install/setup.bash
        ros2 run spacenav spacenav_node


